// Colors
$white : #ffffff;
$black: #212121;

$blue: #1B434B;
$light-blue : #1EA4BD;
$tan: #E6C371;
$orange: #E6C371;

$red: #F77059;
$green: #ABD59D;

$gray: #F3F5F2;

// Fonts
$font-serif: 'Libre Baskerville', 'Times New Roman', serif;
$font-sans: 'Open Sans', sans-serif;